* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-theme-bg: #14120b;
  --color-theme-text: #edecec;
  --spacing: 0.25rem;
  --border-radius: 3.40282e38px;
  --duration: 0.3s;
  --ease-out-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
}

@font-face {
  font-family: CursorGothic-Regular;
  src: url("fonts/CursorGothic_Regular-s.p.a361088d.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--color-theme-bg);
  color: var(--color-theme-text);
  font-family: CursorGothic-Regular, sans-serif;
  overflow-x: hidden;
}

/* Header and Navigation */
.left_nav img {
  width: 95.3625px;
  height: 23.6875px;
}

header {
  padding: 0px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-theme-bg);
  z-index: 9999;
}

.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 52px;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  max-width: 1300px;
}

.right_nav {
  display: flex;
  gap: 8px;
}

.right_nav a {
  text-decoration: none;
  color: var(--color-theme-text);
  cursor: pointer;
  border: 0.8px solid oklab(0.943853 0.00107113 0.000336707 / 0.2);
  padding: 5.88px 10.5px;
  border-radius: var(--border-radius);
  font-size: 15.125px;
  font-weight: 400;
  line-height: 13.125px;
}

.right_nav .download_btn {
  color: var(--color-theme-bg);
  background-color: var(--color-theme-text);
  border: 0.8px solid var(--color-theme-text);
  border-radius: var(--border-radius);
}

.center_nav {
  margin: 0px 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  margin-left: 100px;
}


#center_btn {
  text-decoration: none;
  color: var(--color-theme-text);
  padding: 0px 10px;
}

#dropdown-content a {
  text-decoration: none;
  color: var(--color-theme-text);
  display: grid;
  gap: 10px;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: var(--color-theme-text);
  padding: 0px 10px;
  font-size: 15.125px;
  font-weight: 400;
  line-height: 13.125px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-content {
  display: none;  
  position: absolute;
  background-color: rgb(27, 25, 19);
  border-radius: 8px;
  min-width: 150px;
  margin-top: 10px;
}

.dropdown-content a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: var(--border-radius);
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: rgb(27, 25, 19);
  border-radius: 8px;
  width: 250px;
  margin-top: 10px;

 column-count: 2;
  column-gap: 0.5rem; 
}


.dropdown-content1 a {
   display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: var(--border-radius);
  break-inside: avoid;  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content1 {
  display: block;
}


/* Hero Section */
.hero_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-inline: 110px;
  margin-top: 110px;
}

#hero_v {
  width: 100%;
  height: min(780px, 70vh);
  min-height: 680px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

#hero_v video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero_section h1 {
  font-size: 27.375px;
  line-height: 30.4688px;
  letter-spacing: -0.304688px;
  font-weight: 400;
  color: var(--color-theme-text);
  margin-bottom: 21px;
  text-wrap: wrap;
  text-wrap-style: balance;
  width: 600px;
  margin-top: 80px;
}

.hero_section button {
  margin-bottom: 60px;
  padding: 13.25px 21.75px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border: 0.8px solid var(--color-theme-text);
  border-radius: var(--border-radius);
  background-color: var(--color-theme-text);
  cursor: pointer;
}

.d-icon {
  font-size: 20px;
  font-weight: 1000;
}

/* Brand Section */
.company {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 60px;
}

.companylogo {
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: 10px;
  margin-bottom: 50px;
}

.logo {
  width: 155px;
  height: 100px;
  background-color: rgb(27, 25, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.company h2 {
  font-size: 15.25px;
  line-height: 21.4688px;
  letter-spacing: -0.304688px;
  font-weight: 400;
  color: var(--color-theme-text);
  margin-bottom: 30px;
}

.logo img {
  width: 100px;
  height: 40px;
  object-fit: contain;
}

/* Main Section */
.main_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  margin-bottom: 150px;
}

.main1 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  margin-inline: 110px;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(27, 25, 19);
  padding: 4px 17.5px;
  width: 1310px;
  height: 680px;
  margin-top: 50px;
}

.main1 video {
  width: 850px;
  height: 680px;
  object-fit: cover;
  border-radius: 4px;
}

#main1text {
  cursor: pointer;
  height: 680px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
}

#main1text h3 {
  font-size: 23.375px;
  font-weight: 400;
  line-height: 30.4688px;
  letter-spacing: -0.304688px;
  color: var(--color-theme-text);
}

#main1text p {
  font-size: 21.25px;
  font-weight: 400;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.8);
  margin-bottom: 30px;
  width: 360px;
}

#main1text span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(245, 78, 0);
}

.main2 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 0px;
  margin-inline: 110px;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(27, 25, 19);
  padding: 4px 17.5px;
  width: 1310px;
  height: 680px;
  margin-top: 50px;
}

.main2 video {
  width: 850px;
  height: 680px;
  object-fit: cover;
  border-radius: 4px;
}

#Product {
  color: rgb(245, 78, 0);
}

#main2text {
  cursor: pointer;
  height: 680px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  margin-right: 23px;
}

#main2text h3 {
  font-size: 23.375px;
  font-weight: 400;
  line-height: 30.4688px;
  letter-spacing: -0.304688px;
  color: var(--color-theme-text);
}

#main2text p {
  font-size: 21.25px;
  font-weight: 400;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.8);
  margin-bottom: 30px;
  width: 360px;
}

#main2text span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(245, 78, 0);
}

.main3 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  margin-inline: 110px;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(27, 25, 19);
  padding: 4px 17.5px;
  width: 1310px;
  height: 680px;
  margin-top: 50px;
}

.main3 img {
  width: 850px;
  height: 680px;
  object-fit: cover;
  border-radius: 4px;
}

#main3text {
  cursor: pointer;
  height: 680px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
}

#main3text h3 {
  font-size: 23.375px;
  font-weight: 400;
  line-height: 30.4688px;
  letter-spacing: -0.304688px;
  color: var(--color-theme-text);
}

#main3text p {
  font-size: 21.25px;
  font-weight: 400;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.8);
  margin-bottom: 30px;
  width: 360px;
}

#main3text span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(245, 78, 0);
}

/* Review Section */
.review_section h2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 85px;
  font-size: 35px;
  font-weight: 400;
  font-family: CursorGothic-Regular, sans-serif;
  margin-bottom: 10px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-inline: 110px;
  margin-top: 50px;
}

.review {
  background-color: rgb(27, 25, 19);
  padding: 15.9px 17.5px 17.5px 17.5px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  margin-bottom: 0px;
  padding-top: 70px;
}

.review .profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.profile_info {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-size: 14px;
  line-height: 1.4;
}

.profile_info span {
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  font-size: 13px;
}

/* Block1 Section */
.block1 h2 {
  margin-inline: 110px;
  margin-top: 140px;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 20px;
}

.cases3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-inline: 110px;
  margin-top: 50px;
}

.case {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 15.9px 17.5px 17.5px 17.5px;
  background-color: rgb(27, 25, 19);
  border-radius: 4px;
}

.case h3 {
  font-size: 17px;
  font-weight: 400;
  line-height: 30.4688px;
  letter-spacing: -0.304688px;
  color: var(--color-theme-text);
}

.case p {
  font-size: 17px;
  font-weight: 400;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  margin-bottom: 30px;
  line-height: 22.5px;
}

.case a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(245, 78, 0);
  margin-bottom: 20px;
  text-decoration: none;
}

.botton-case {
  width: 100%;
  height: 400px;
}

.botton-case video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.botton-case img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* Changelog Section */
.section {
  margin-inline: 110px;
}

.section .changelog {
  max-width: 1300px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-top: 140px;
}

.section .changelog h2 {
  color: var(--color-theme-text);
  font-size: 1.625rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.0125em;
  margin-bottom: 18.2px;
}

.section .changelog .changelog-grid {
  display: grid;
  gap: 8.125px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.changelog .changelog-grid article {
  display: flex;
  flex-direction: column;
}

.changelog .changelog-grid article a {
  position: relative;
  border-radius: 4px;
  background-color: #1b1913;
  padding-top: 12.9187px;
  padding-inline: 14.2188px;
  flex-grow: 1;
  padding-bottom: 16.25px;
  height: 98.28px;
  text-decoration: none;
  color: inherit;
}

.changelog .changelog-grid article a div {
  position: relative;
  left: -1px;
  display: flex;
  align-items: center;
  column-gap: 10.4px;
  color: #edecec99;
}

.changelog .changelog-grid article a div span {
  position: relative;
  top: 0.03125rem;
  display: inline-flex;
  line-height: 1;
  padding: 0.28em 0.65em 0.29em;
  border-radius: var(--border-radius);
  border: 1px solid;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.changelog .changelog-grid article a div time {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.005em;
}

.changelog .changelog-grid article p {
  color: var(--color-theme-text);
  margin-top: 10.6167px !important;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.005em;
}

.changelog .changelog-btn {
  display: inline-flex;
  text-decoration: none;
  color: #f54e00;
  letter-spacing: 0.005em;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 18.2px;
}

/* Team Section */
.section .team-section {
  margin-bottom: 72.8px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100%;
  max-width: 1300px;
  margin-top: 140px;
}

.team-section .grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.team-section .grid-container .team-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 8.125px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  row-gap: calc(var(--spacing) * 0);
  padding: 14.2188px;
  border-radius: 4px;
  background-color: #1b1913;
  padding-inline: 12.1875px;
}

.team-card-text-container {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
  padding-right: 24.375px;
  padding-left: 2.03125px;
}

.team-card-text-container .text-container {
  width: 100%;
  max-width: 65ch;
  justify-self: flex-start;
}

.team-card-text-container .text-container .top-text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.005em;
}

.team-card-text-container .text-container .top-text h3 {
  font-size: 1.375rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.005em;
}

.team-card-text-container .text-container .link-btn {
  margin-top: 18.2px;
}

.link-btn .btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8.125px;
}

.link-btn .btn a {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: #0000;
  color: #f54e00;
  padding: unset;
  border: 0;
}

.link-btn .btn .btn-icon {
  display: inline-flex;
  padding-inline-start: 0.25em;
}

.image-display-grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 8.125px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  row-gap: calc(var(--spacing) * 0);
  padding: 14.2188px;
}

.image-display-grid .image-container {
  display: grid;
  grid-column-start: 9;
  grid-column-end: 25;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center;
}

.image-display-grid .image-container .img-container {
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.image-display-grid .image-container .img-container img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Highlight Section */
.highlight {
  background-color: #1b1913;
  padding: 60px 0;
  margin-inline: 0 !important;
  margin-top: 140px !important;
}

.highlight-section {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100%;
  max-width: 1300px;
  background-color: transparent;
  padding-inline: 110px;
}

.highlight-section .highlight-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: calc(var(--spacing) * 0);
}

.highlight-section .highlight-container .heading {
  grid-column-start: 1;
  grid-column-end: 7;
}

.highlight-section .highlight-container .heading h2 {
  position: sticky;
  top: 64px;
  letter-spacing: 0.005em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-theme-text);
  margin-bottom: calc(var(--spacing) * 0);
}

.highlight-article-container {
  grid-column-start: 7;
  grid-column-end: 19;
}

.highlight-article-container article {
  display: flex;
  margin-bottom: 8.125px;
  flex-direction: column;
}

.highlight-article-container article:nth-child(3) {
  margin-bottom: 0;
}

.highlight-article-container article a {
  position: relative;
  border-radius: 4px;
  padding-bottom: 12.1875px;
  padding-top: 10.8875px;
  padding-inline: 12.1875px;
  background-color: #201e18;
  display: grid;
  gap: 10.4px;
  container-type: inline-size;
  flex-grow: 1;
  grid-template-columns: 1fr auto;
  text-decoration: none;
  color: inherit;
}

.highlight-article-container article a .highlight-text-container {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
}

.highlight-article-container article a .highlight-text-container .highlight-text {
  flex-grow: 1;
}

.highlight-text-container .highlight-text .main {
  letter-spacing: 0.005em;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--color-theme-text);
  text-wrap-mode: initial;
  text-wrap-style: pretty;
}

.highlight-text-container .highlight-text .para {
  color: #edecec99;
  letter-spacing: 0.005em;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  text-wrap-mode: initial;
  text-wrap-style: pretty;
  margin-top: 8px;
}

.highlight-text-container .timeline {
  display: flex;
  margin-top: 18.2px;
  flex-shrink: 0;
  align-items: center;
  color: #edecec99;
}

.timeline time {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.005em;
}

.highlight-btn {
  display: inline-flex;
  font-size: 1rem;
  margin-top: 18.2px;
  line-height: 1.5;
  letter-spacing: 0.005em;
  font-weight: 400;
  text-decoration: none;
  color: #f54e00;
}

/* CTA Section */
.cta-section {
  padding-block-end: 109.2px;
  padding-block-start: 109.2px;
}

.final-cta-section {
  max-width: 1300px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.final-cta-section .cta-container {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 80ch;
  text-align: center;
}

.final-cta-section .cta-container h2 {
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -0.03em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-bottom: 18.2px;
}

.cta-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.125px;
}

.cta-btn-container .cta-btn .btn {
  display: block;
  margin-block-end: 6.067px;
}

.cta-btn-container .cta-btn .btn a {
  background-color: var(--color-theme-text);
  border: 1px solid var(--color-theme-text);
  color: #14120b;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.78em 1.35em 0.8em;
  border-radius: var(--border-radius);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-decoration: none;
}

.cta-btn-container .cta-btn .btn a .btn-icon {
  display: inline-flex;
  padding-inline-start: 0.25em;
}

/* Footer */
footer {
  position: relative;
  background-color: #1b1913;
  padding-inline: 16.25px;
  padding-top: 54.6px;
  padding-bottom: 24.375px;
}

footer .footer-link-container {
  max-width: 1300px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-bottom: 81.9px;
}

nav .nav-link-container {
  display: grid;
  column-gap: 8.125px;
  row-gap: 36.4px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

nav .nav-link-container div h3 {
  color: #edecec99;
  padding-bottom: 3.79167px;
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.875rem;
}

nav .nav-link-container div ul {
  list-style: none;
}

nav .nav-link-container div ul li a {
  display: inline-block;
  padding-block: 3.79167px;
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--color-theme-text);
}

footer .footer-bottom {
  max-width: 1300px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 36.4px;
}

.footer-bottom .bottom-left {
  color: #edecec99;
  gap: 12.1875px;
  display: flex;
  align-items: center;
}

.footer-bottom .bottom-left small {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.footer-bottom .bottom-left small a {
  text-decoration: none;
  color: #edecec99;
}

.footer-bottom .bottom-right {
  display: flex;
  align-items: center;
  gap: 12.1875px;
}

.footer-bottom .bottom-right .theme-btn-container {
  position: relative;
  display: flex;
  border-radius: var(--border-radius);
  background-color: #26241e;
  padding: calc(var(--spacing) * 0.5);
  text-align: center;
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.875rem;
}

.footer-bottom .bottom-right .theme-btn-container div {
  background-color: #edecec1a;
  position: absolute;
  border-radius: var(--border-radius);
  border: 1px solid #edecec06;
  left: 1.625px;
  width: 29.3125px;
  top: 2px;
  bottom: 2px;
}

.footer-bottom .bottom-right .theme-btn-container button {
  position: relative;
  padding: 0.4em 0.75em 0.42em;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  line-height: 0.005;
  color: var(--color-theme-text);
  background-color: #0000;
  opacity: 1;
  border: none;
}

.language {
  display: flex;
  align-items: center;
  gap: 6.5px;
}

.language .list-container {
  position: relative;
}

.list-container button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0.4em 0.75em 0.42em;
  color: var(--color-theme-text);
  border: 1px solid #edecec06;
  background-color: #26241e;
  cursor: pointer;
  gap: 4.0625px;
  line-height: 1 !important;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.01em;
}

.list-container button span {
  color: var(--color-theme-text);
}