* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-theme-bg: #14120b;
  --color-theme-text: #edecec;
  --spacing: 0.25rem;
  --border-radius: 3.40282e38px;
}
@font-face {
  font-family: CursorGothic-Regular;
  src: url("fonts/CursorGothic_Regular-s.p.a361088d.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
body {
    background-color: var(--color-theme-bg);
    color: var(--color-theme-text);
    font-family: CursorGothic-Regular, sans-serif;
}

.left_nav img {
    width: 95.3625px;
    height: 23.6875px;
}

header {
  padding: 0px 100px;
  position: sticky;
  top: 0;
  background-color: var(--color-theme-bg);
}

.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
    z-index: 2;
    height: 52px;
    align-items: center;
    margin-inline: auto;
    width: 100%;
    max-width: 1300px;
    background-color: var(--color-theme-bg);
}

.rigght_nav {
    display: flex;
    background-color: green;
    
}

.right_nav a {
    text-decoration: none;
    color: var(--color-theme-text);
    cursor: pointer;
    border: 0.8px solid oklab(0.943853 0.00107113 0.000336707 / 0.2);
        padding: 5.88px 10.5px;
        border-radius: var(--border-radius);
        font-size: 15.125px;
    font-weight: 400;
    line-height: 13.125px;

}

.right_nav .download_btn {
    
    color: var(--color-theme-bg);
    background-color: var(--color-theme-text);
    border: 0.8px solid var(--color-theme-text);
    border-radius: var(--border-radius);
}

.center_nav {
    margin: 0px 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    margin-left: 100px;
}
.center_nav a {
    text-decoration: none;
    color: var(--color-theme-text);
    padding: 0px 10px;
}

.hero_section {
    display: grid;
    grid-template-columns: repeat(1,1);
    /* background-color: pink; */
    margin-inline: 110px;
    margin-top: 110px;
}


#hero_v {
    width: 100%;
    height: min(780px, 70vh); 
    min-height: 680px;
    border-radius: 4px;      
    overflow: hidden;        
    position: relative;
    
}


#hero_v video {
    width: 100%;
    height: 100%;
    object-fit: cover;        
    display: block;
}


.hero_section h1 {
    font-size: 27.375px;
    line-height: 30.4688px;
    letter-spacing: -0.304688px;
    font-weight: 400;
    color: var(--color-theme-text);
    margin-bottom: 21px;
    text-wrap: wrap;
    text-wrap-style: balance;
    width: 600px;
}

.hero_section button {
     margin-bottom: 60px;
     padding: 13.25px 21.75px;
     font-size: 16px;
     font-weight: 400;
     line-height: 16px;
     border: 0.8px solid var(--color-theme-text);
     border-radius: var(--border-radius);
     background-color: var(--color-theme-text);
     cursor: pointer;
}

.d-icon {
    
    line-height: 16px;
    font-size: 20px;
    font-weight: 400;
}
